<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Video streaming</title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <main>
      <div class="container-fluid">
        <h1 align="center">Video streaming</h1>
        <div class="row">
          <div class="col-md-12">
            <video width="650" controls muted="muted">
              <source src="/video/stream" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
